.fallback-message
  %p
    Your browser
    %b doesn't support the features required
    by impress.js, so you are presented with a simplified version of this
    presentation.
  %p
    For the best experience please use the latest
    = succeed ',' do
      %b Chrome
    %b Safari
    or
    %b Firefox
    browser.

#impress

  #inicial.step.slide{data: {x: '-1000', y: '-1500'}}

  .step.slide{data: {x: -1000, y: '-1500', z: '-1000'}}
    = image_tag 'beatles_1.jpg', class: 'foto tilt-left'
    %hr.white
    = image_tag 'beatles_2.jpg', class: 'foto right tilt-right'

  .step.slide{data: {x: -1000, y: '-1500', z: '-2000'}}
    = image_tag 'muhammad_1.jpg', class: 'foto tilt-left'
    %hr.white
    = image_tag 'muhammad_2.jpg', class: 'foto right tilt-right'

  .step.slide{data: {x: -1000, y: '-1500', z: '-3000'}}
    = image_tag 'phelps_1.jpg', class: 'foto tilt-left'
    %hr.white
    = image_tag 'phelps_2.jpg', class: 'foto right tilt-right'

  #title.step{data: {x: 0, y: 0, scale: 4}}
    %span.try ¿Qué es un coding
    %h1
      Dojo?

  #its.step{data: {x: 850, y: 3000, rotate: 90, scale: 5}}
    %p
      Es un lugar para que el
      %strong programador
      se sienta
      %strong seguro
      , pueda
      %strong practicar
      y
      %strong aprender
      de otros.

  #big.step{data: {x: 3500, y: 2100, rotate: 180, scale: 6}}
    %p
      %b katas
      %span.footnote (de programación)

  .step{data: {x: 2825, y: 2325, z: '-3000', rotate: 300, scale: 1}}
    %ul
      %li Disciplina,
      %li práctica y
      %li
        %strong repetición

  #kata.step{data: {x: 6300, y: 2000, rotate: 20, scale: 4}}
    %p
      Sin más preámbulo...
    %p
      %strong ¡Que comiencen las Katas!

  .step{data: {x: 3500, y: 3500}}
    %ul.redes
      %li.svg
        %a.webicon.mail.large{:href => "#"} Visit us
        %span oaxacarb.org
      %li.svg
        %a.webicon.github.large{:href => "#"} Fork us on Github
        %span oaxacarb
      %li.svg
        %a.webicon.facebook.large{:href => "#"} Like us on Facebook
        %span oaxaca.rb
      %li.svg
        %a.webicon.twitter.large{:href => "#"} Follow us on Twitter
        %span oaxacarb
      %li.svg
        %a.webicon.googleplus.large{:href => "#"} Follow us on Twitter
        %span oaxaca.rb

  #overview.step{data: {x: 3000, y: 1500, scale: 10}}

.hint
  %p Use a spacebar or arrow keys to navigate

:javascript
  if ("ontouchstart" in document.documentElement) {
    var hint = "<p>Tap on the left or right to navigate</p>";
    document.querySelector(".hint").innerHTML = hint;
  }
